@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@font-face {
    font-family: Collator;
    src: url(../../fonts/Collator.otf);
} 

body {
 	color: $blue;
 	margin: 0;
 	font-family: $font-sans;
 	font-size: 100%;
}

#title {
	text-align: center;
	margin-top: 2.8em;
	font-size: 2em;
}

p#auto_text {
	text-transform: uppercase;
}

#main {
	font-size: 1.5em;
	font-weight: 700;
}

.controls ul {
	font-size: 14px;
	margin: 0 0 0 50px;
}

.controls ul li {
	display: inline;
	padding-right: 20px;
	padding-top: 50px;
}

.pointer {
	cursor: pointer;
}

/* Link Styling */
a {
	&:link {
		text-decoration: none;
		color: #FFF;
	}
	&:hover, &:active {
		border-bottom: 1px dotted #FFF;
	}
	&:focus {
		outline: none;
	}
	&:visited {
		color: #FFF;
	}
}

.ui-dialog-titlebar {
}

.ui-dialog-content p {
	font-size: 0.85em;
	font-family: $font-sans;
	line-spacing: 150% !important;
	padding-bottom: 1.25em;
}

