body {
 
}
a {
 color: #117;
 text-decoration: none;
}

@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
	background: #000;
 	color: #fff;
 	margin: 0 0 0 24pt;
 	font-family: $font-sans;
 	font-size: 20pt;
}

#{headings()} {
	font-family: $font-sans;
}

/* Link Styling */
a {
	&:link {
		text-decoration: none;
		color: $baseColor;
	}
	&:hover, &:active {
		text-decoration:underline;
	}
	&:focus {
		outline: none;
	}
	&:visited {
		color: desaturate($baseColor, 20%);
	}
}