// Media Queries

// phone or small device
@media screen 
and (max-width: $break_tiny) {
  #mobile_image {
    background-image: url("../videos/tokyo_subway_900.png");
    height: 100%;
  }
  .overlay {
    left: 14%;
    width: 250px;
    height: 250px;
  }
  .overlay p {
    margin: 0 auto 10px 17px;
  }
  span.dash-bottom {
      height: 640px;
   }
   #expo {
    padding: 40px 30px 65px 20px;
    margin-right: -10px;
    font-size: 0.95em;
    height: 515px;
    min-width: 320px
  }
  #expo article {
    width: 300px;
  }
   #poem {
      height: 900px;
      min-width: 320px;
      background-image: url("../images/subway_630x900.jpg");
   }
   #poem div {
    font-size: 60%;
    line-height: 130%;
  }
  footer {
    font-size: 0.95em;
    min-width: 400px;
  }
}

@media screen 
and (min-width: $break_tiny +1)
and (max-width: $break_small) {
  #mobile_image {
    background-image: url("../videos/tokyo_subway_900.png");
    height: 100%;
  }
  .overlay {
  left: 33%;
  width: 300px;
  height: 300px;
  }
  .overlay p {
     margin: 0 auto 10px auto;
  }
  span.dash-bottom {
      height: 640px;
   }
  #expo {
    padding: 40px 10% 65px 10%;
    font-size: 1em;
    height: 335px;
  }
  #expo article {
    width: 650px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_645x680.jpg");
    height: 100%;
  }
  #poem div {
    font-size: 65%;
    line-height: 130%;
  }
}

@media screen 
and (min-width: $break_small +1)
and (max-width: $break_medium) {
  #mobile_image {
    background-image: url("../videos/tokyo_subway_900.png");
    height: 100%;
  }
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px;
  }
  .overlay p {
     margin: 0 auto 10px auto;
  }
  span.dash-bottom {
      height: 640px;
  }
   #expo {
    padding: 40px 10% 65px 10%;
    height: 335px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_1280x680.jpg");
  }
  #poem div {
    font-size: 65%;
    line-height: 130%;
  }
}

@media screen 
and (min-width: $break_medium +1)
and (max-width: $break_large) {
  span.dash-bottom {
      height: 620px;
   }
   .overlay {
      left: 33%;
      width: 300px;
      height: 300px;
    }
   .overlay p {
     margin: 0 auto 10px auto;
    }
  #expo {
    padding: 40px 10% 65px 10%;
    height: 335px;
  }

  #poem {
    height: 680px;
    background-image: url("../images/subway_970x680.jpg");
  }
  #poem div {
    font-size: 80%;
  }
}

// default screen, 1280px width
@media screen 
and (min-width: $break_large +1)
and (max-width: $break_giant) {
  span.dash-bottom {
      height: 620px;
   }
   .overlay {
      left: 33%;
      width: 300px;
      height: 300px;
    }
   .overlay p {
     margin: 0 auto 10px auto;
  }
  #expo {
    padding: 40px 25% 65px 25%;
    height: 330px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_1280x680.jpg");
  }
  #poem div {
    font-size: 100%;
  }
}

// large screen; only need to swap out image for larger to prevent tiling.
@media screen 
and (min-width: $break_giant +1)
{
  span.dash-bottom {
      height: 620px;
   }
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px;
  }
  .overlay p {
     margin: 0 auto 10px auto;
  }
  #expo {
    padding: 40px 25% 65px 25%;
    height: 295px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_1680x680.jpg");
  }
  #poem div {
    font-size: 100%;
  }
}
// End Media Queries

header {
    background-color: $opac_black;
    width: auto;
    height: 20px;
    padding: 10px;
    color: #FFF;
}

#title {
   
}

#intro {
    text-align: center;
    width: 100%;
    height: 900px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url("../videos/tokyo_subway.png") no-repeat;
    background-size: cover;
}

.overlay {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: $opac_black;
  display: block;
  position: absolute;
  top: 20%;
}

.overlay p {
  text-align: center;
  width: 80%;
  color: #fff;
  font-family: inherit;
}

span.dash-bottom {
  width: 4px;
  border-right: 4px dashed #fdfdfe;
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -2px;
}

#expo {
  line-height: 150%;
  background-image: url("../images/gplaypattern.png");
  background-repeat: repeat;
  background-color: #FFF;
}

#expo p {
  padding-bottom: 1.25em;
}

.controls {
  background-color: $blue;
  width: auto;
  height: 27px;
  padding: 15px 0 0 0;
  color: #FFF;
}

#main {
    padding-left: 50px;
}

section#people, section#code {
  display: none;
}