// Media Queries

// phone or small device
@media screen 
and (max-width: $break_tiny) {
   #expo {
    padding: 40px 10% 65px 10%;
    font-size: 1em;
    height: 525px;
  }
  #expo article {
    width: 300px;
  }
   #poem {
      height: 900px;
      background-image: url("../images/subway_400x900.jpg");
   }
   #poem div {
    font-size: 65%;
    line-height: 130%;
  }
}

@media screen 
and (min-width: $break_tiny +1)
and (max-width: $break_small) {
  #expo {
    padding: 40px 10% 65px 10%;
    font-size: 1em;
    height: 295px;
  }
  #expo article {
  width: 650px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_645x680.jpg");
  }
  #poem div {
    font-size: 65%;
    line-height: 130%;
  }
}

@media screen 
and (min-width: $break_small +1)
and (max-width: $break_medium) {
   #expo {
    padding: 40px 10% 65px 10%;
    height: 295px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_1280x680.jpg");
  }
  #poem div {
    font-size: 65%;
    line-height: 130%;
  }
}

@media screen 
and (min-width: $break_medium +1)
and (max-width: $break_large) {
  #expo {
    padding: 40px 10% 65px 10%;
    height: 295px;
  }

  #poem {
    height: 680px;
    background-image: url("../images/subway_970x680.jpg");
  }
  #poem div {
    font-size: 80%;
  }
}

// default screen, 1280px width
@media screen 
and (min-width: $break_large +1)
and (max-width: $break_giant) {
  #expo {
    padding: 40px 25% 65px 25%;
    height: 295px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_1280x680.jpg");
  }
  #poem div {
    font-size: 100%;
  }
}

// large screen; only need to swap out image for larger to prevent tiling.
@media screen 
and (min-width: $break_giant +1)
{
  #expo {
    padding: 40px 25% 65px 25%;
    height: 295px;
  }
  #poem {
    height: 680px;
    background-image: url("../images/subway_1680x680.jpg");
  }
  #poem div {
    font-size: 100%;
  }
}



header {
    background-color: $opac_black;
    width: auto;
    height: 20px;
    padding: 10px;
    color: #FFF;
}

#title {
   
}

#intro {
    text-align: center;
    width: 100%;
    height: 900px;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.overlay {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: $opac_black;
  display: block;
  position: absolute;
  top: 20%;
  left: 33%;
}

.overlay p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 10px;
}

span.dash-bottom {
  height: 610px;
  width: 4px;
  border-right: 4px dashed #fdfdfe;
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -2px;
}

#expo {
  font-size: 1em;
  line-height: 150%;
 // padding: 40px 25% 65px 25%;
  background: $green;
}

#expo p {
  padding-bottom: 1.25em;
}

.controls {
  background-color: $blue;
  width: auto;
  height: 27px;
  padding: 15px 0 0 0;
  color: #FFF;
}

#main {
    padding-left: 50px;
}

.hero #subway {
  width: 100%;
  background-repeat: no-repeat;
}