// Media Queries
$break_tiny: 630px;
$break_small: 647px;
$break_medium: 768px;
$break_large: 970px; // poem lines begin to break, expo text covered up.
$break_giant: 1280px; // need a bigger background image beyond 1280
// Colors
$opac_black: rgba(0,0,0,0.3);
$blue: #111177;
$black: #000;
$green: #bdce64;

// Fonts
$font-serif: Georgia, "Chaparral Pro", "Times New Roman", Times, serif;
$font-sans: "Collator", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
