@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: Collator;
  src: url(../../fonts/Collator.otf); }

/* line 9, ../components/sass/_base.scss */
body {
  color: #111177;
  margin: 0;
  font-family: "Collator", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; }

/* line 16, ../components/sass/_base.scss */
#title {
  text-align: center;
  margin-top: 2.5em;
  font-size: 3em; }

/* line 22, ../components/sass/_base.scss */
p#auto_text {
  text-transform: uppercase; }

/* line 26, ../components/sass/_base.scss */
#main {
  font-size: 1.5em;
  font-weight: 700; }

/* line 31, ../components/sass/_base.scss */
#main ul {
  font-size: 0.5em; }

/* line 35, ../components/sass/_base.scss */
#main ul li {
  display: inline;
  padding-right: 5px; }

/* line 42, ../components/sass/_base.scss */
.pointer {
  cursor: pointer; }

/* Link Styling */
/* line 48, ../components/sass/_base.scss */
a:link {
  text-decoration: none;
  color: #111177; }
/* line 52, ../components/sass/_base.scss */
a:hover, a:active {
  text-decoration: underline; }
/* line 55, ../components/sass/_base.scss */
a:focus {
  outline: none; }
/* line 58, ../components/sass/_base.scss */
a:visited {
  color: #1f1f69; }

/* line 1, ../components/sass/_layout.scss */
header {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 20px;
  padding: 10px;
  color: #FFF; }

/* line 13, ../components/sass/_layout.scss */
#intro {
  text-align: center;
  width: 100%;
  height: 900px; }

/* line 19, ../components/sass/_layout.scss */
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover; }

/* line 31, ../components/sass/_layout.scss */
.overlay {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  top: 20%;
  left: 33%; }

/* line 44, ../components/sass/_layout.scss */
.overlay p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: inherit;
  margin-bottom: 20px; }

/* line 53, ../components/sass/_layout.scss */
#expo {
  height: 450px;
  background: #111177; }

/* line 58, ../components/sass/_layout.scss */
#poem {
  height: 450px; }

/* line 62, ../components/sass/_layout.scss */
#main {
  margin-top: -600px; }

/* line 66, ../components/sass/_layout.scss */
.hero #subway {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: repeat-y; }

/* line 77, ../components/sass/_layout.scss */
.hero #subway .inner {
  padding-top: 63.35%;
  /* height/width of image */
  display: block;
  height: 0; }

/* default screen, non-retina */
/* line 84, ../components/sass/_layout.scss */
.hero #subway {
  background-image: url("../images/subway_1940.jpg"); }

@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */
  /* line 88, ../components/sass/_layout.scss */
  .hero #cafe {
    background-image: url("../img/subway_320.jpg"); } }
