@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css");
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: Collator;
  src: url(../../fonts/Collator.otf); }

/* line 9, ../components/sass/_base.scss */
body {
  color: #111177;
  margin: 0;
  font-family: "Collator", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; }

/* line 16, ../components/sass/_base.scss */
#title {
  text-align: center;
  margin-top: 2.8em;
  font-size: 2em; }

/* line 22, ../components/sass/_base.scss */
p#auto_text {
  text-transform: uppercase; }

/* line 26, ../components/sass/_base.scss */
#main {
  font-size: 1.5em;
  font-weight: 700; }

/* line 31, ../components/sass/_base.scss */
.controls ul {
  font-size: 14px;
  margin: 0 0 0 50px; }

/* line 36, ../components/sass/_base.scss */
.controls ul li {
  display: inline;
  padding-right: 20px;
  padding-top: 50px; }

/* line 42, ../components/sass/_base.scss */
.pointer {
  cursor: pointer; }

/* Link Styling */
/* line 48, ../components/sass/_base.scss */
a:link {
  text-decoration: none;
  color: #FFF; }
/* line 52, ../components/sass/_base.scss */
a:hover, a:active {
  border-bottom: 1px dotted #FFF; }
/* line 55, ../components/sass/_base.scss */
a:focus {
  outline: none; }
/* line 58, ../components/sass/_base.scss */
a:visited {
  color: #FFF; }

/* line 65, ../components/sass/_base.scss */
div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
  font-family: "Collator", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("../images/gplaypattern.png"); }

/* line 70, ../components/sass/_base.scss */
#people, #code {
  background-color: #FFF; }

/* line 74, ../components/sass/_base.scss */
.ui-dialog-content p {
  font-size: 0.75em;
  font-family: "Collator", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 150%;
  padding: 0.65em 0; }

/* line 82, ../components/sass/_base.scss */
.ui-dialog-content a:link {
  color: #111177; }
/* line 85, ../components/sass/_base.scss */
.ui-dialog-content a:hover, .ui-dialog-content a:active {
  border-bottom: 1px dotted #111177; }
/* line 88, ../components/sass/_base.scss */
.ui-dialog-content a:focus {
  outline: none; }
/* line 91, ../components/sass/_base.scss */
.ui-dialog-content a:visited {
  color: #111177; }

@media screen and (max-width: 630px) {
  /* line 6, ../components/sass/_layout.scss */
  #mobile_image {
    background-image: url("../videos/tokyo_subway_900.png");
    height: 100%; }

  /* line 10, ../components/sass/_layout.scss */
  .overlay {
    left: 14%;
    width: 250px;
    height: 250px; }

  /* line 15, ../components/sass/_layout.scss */
  .overlay p {
    margin: 0 auto 10px 17px; }

  /* line 18, ../components/sass/_layout.scss */
  span.dash-bottom {
    height: 640px; }

  /* line 21, ../components/sass/_layout.scss */
  #expo {
    padding: 40px 30px 65px 20px;
    margin-right: -10px;
    font-size: 0.95em;
    height: 515px;
    min-width: 320px; }

  /* line 28, ../components/sass/_layout.scss */
  #expo article {
    width: 300px; }

  /* line 31, ../components/sass/_layout.scss */
  #poem {
    height: 900px;
    min-width: 320px;
    background-image: url("../images/subway_630x900.jpg"); }

  /* line 36, ../components/sass/_layout.scss */
  #poem div {
    font-size: 60%;
    line-height: 130%; }

  /* line 40, ../components/sass/_layout.scss */
  footer {
    font-size: 0.95em;
    min-width: 400px; } }
@media screen and (min-width: 631px) and (max-width: 647px) {
  /* line 49, ../components/sass/_layout.scss */
  #mobile_image {
    background-image: url("../videos/tokyo_subway_900.png");
    height: 100%; }

  /* line 53, ../components/sass/_layout.scss */
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px; }

  /* line 58, ../components/sass/_layout.scss */
  .overlay p {
    margin: 0 auto 10px auto; }

  /* line 61, ../components/sass/_layout.scss */
  span.dash-bottom {
    height: 640px; }

  /* line 64, ../components/sass/_layout.scss */
  #expo {
    padding: 40px 10% 65px 10%;
    font-size: 1em;
    height: 335px; }

  /* line 69, ../components/sass/_layout.scss */
  #expo article {
    width: 650px; }

  /* line 72, ../components/sass/_layout.scss */
  #poem {
    height: 680px;
    background-image: url("../images/subway_647x680.jpg");
    height: 100%; }

  /* line 77, ../components/sass/_layout.scss */
  #poem div {
    font-size: 65%;
    line-height: 130%; } }
@media screen and (min-width: 648px) and (max-width: 768px) {
  /* line 86, ../components/sass/_layout.scss */
  #mobile_image {
    background-image: url("../videos/tokyo_subway_900.png");
    height: 100%; }

  /* line 90, ../components/sass/_layout.scss */
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px; }

  /* line 95, ../components/sass/_layout.scss */
  .overlay p {
    margin: 0 auto 10px auto; }

  /* line 98, ../components/sass/_layout.scss */
  span.dash-bottom {
    height: 640px; }

  /* line 101, ../components/sass/_layout.scss */
  #expo {
    padding: 40px 10% 65px 10%;
    height: 335px; }

  /* line 105, ../components/sass/_layout.scss */
  #poem {
    height: 680px;
    background-image: url("../images/subway_768x680.jpg"); }

  /* line 109, ../components/sass/_layout.scss */
  #poem div {
    font-size: 65%;
    line-height: 130%; } }
@media screen and (min-width: 769px) and (max-width: 970px) {
  /* line 118, ../components/sass/_layout.scss */
  span.dash-bottom {
    height: 620px; }

  /* line 121, ../components/sass/_layout.scss */
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px; }

  /* line 126, ../components/sass/_layout.scss */
  .overlay p {
    margin: 0 auto 10px auto; }

  /* line 129, ../components/sass/_layout.scss */
  #expo {
    padding: 40px 10% 65px 10%;
    height: 335px; }

  /* line 134, ../components/sass/_layout.scss */
  #poem {
    height: 680px;
    background-image: url("../images/subway_970x680.jpg"); }

  /* line 138, ../components/sass/_layout.scss */
  #poem div {
    font-size: 80%; } }
@media screen and (min-width: 971px) and (max-width: 1280px) {
  /* line 147, ../components/sass/_layout.scss */
  span.dash-bottom {
    height: 620px; }

  /* line 150, ../components/sass/_layout.scss */
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px; }

  /* line 155, ../components/sass/_layout.scss */
  .overlay p {
    margin: 0 auto 10px auto; }

  /* line 158, ../components/sass/_layout.scss */
  #expo {
    padding: 40px 25% 65px 25%;
    height: 330px; }

  /* line 162, ../components/sass/_layout.scss */
  #poem {
    height: 680px;
    background-image: url("../images/subway_1280x680.jpg"); }

  /* line 166, ../components/sass/_layout.scss */
  #poem div {
    font-size: 100%; } }
@media screen and (min-width: 1281px) {
  /* line 175, ../components/sass/_layout.scss */
  span.dash-bottom {
    height: 620px; }

  /* line 178, ../components/sass/_layout.scss */
  .overlay {
    left: 33%;
    width: 300px;
    height: 300px; }

  /* line 183, ../components/sass/_layout.scss */
  .overlay p {
    margin: 0 auto 10px auto; }

  /* line 186, ../components/sass/_layout.scss */
  #expo {
    padding: 40px 25% 65px 25%;
    height: 295px; }

  /* line 190, ../components/sass/_layout.scss */
  #poem {
    height: 680px;
    background-image: url("../images/subway_1680x680.jpg"); }

  /* line 194, ../components/sass/_layout.scss */
  #poem div {
    font-size: 100%; } }
/* line 200, ../components/sass/_layout.scss */
header {
  background-color: rgba(0, 0, 0, 0.3);
  width: auto;
  height: 20px;
  padding: 10px;
  color: #FFF; }

/* line 212, ../components/sass/_layout.scss */
#intro {
  text-align: center;
  width: 100%;
  height: 900px; }

/* line 218, ../components/sass/_layout.scss */
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../videos/tokyo_subway.png") no-repeat;
  background-size: cover; }

/* line 231, ../components/sass/_layout.scss */
.overlay {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  top: 20%; }

/* line 241, ../components/sass/_layout.scss */
.overlay p {
  text-align: center;
  width: 80%;
  color: #fff;
  font-family: inherit; }

/* line 248, ../components/sass/_layout.scss */
span.dash-bottom {
  width: 4px;
  border-right: 4px dashed #fdfdfe;
  display: block;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -2px; }

/* line 258, ../components/sass/_layout.scss */
#expo {
  line-height: 150%;
  background-image: url("../images/gplaypattern.png");
  background-repeat: repeat;
  background-color: #FFF; }

/* line 265, ../components/sass/_layout.scss */
#expo p {
  padding-bottom: 1.25em; }

/* line 269, ../components/sass/_layout.scss */
.controls {
  background-color: #111177;
  width: auto;
  height: 27px;
  padding: 15px 0 0 0;
  color: #FFF; }

/* line 277, ../components/sass/_layout.scss */
#main {
  padding-left: 50px; }

/* line 281, ../components/sass/_layout.scss */
section#people, section#code {
  display: none; }
